body
{
	/*margin: 10px;*/
	color:#4a4c49;
	font-family: 'Avenir';

}

label {
	position: absolute;
	padding-left: 110px;
	padding-top: 10px;
}
/* canvas { background:url(../test.jpg); }
*/
@font-face {
    font-family: "Avenir";
    src: url(AvenirLTStd-Book.otf) format("truetype");
}

.width-100 {
    width: 100px;
}

/*#toolbar {
	background-color:#dedede;
}*/
#canvas {
	display:block;
}

#toolbar {
	background-color:#dedede;
	margin: 0;
	padding: 10px;
	height : 110%;
}

#drawingList {
	background-color: white;
	opacity: 0.8;
    height:90px;
    overflow-x:scroll;
}
.drawingListTitle {
	background-color: white;
	opacity: 0.8;
    height:30px;
    font-size: 20px;
    font-family: 'Avenir';
    padding-left: 20px;
    border-bottom: solid;
    border-bottom-width: 1px;
}

li {
	list-style: none;
	color: black;
	padding-left: 20px;
}

li:hover {
	color:#ED8139;
	text-decoration: none;
}

#squarebutton:hover {

}
/*
label {
    text-align:center;
	vertical-align:middle;
}*/

.shapes {
	justify-content: center;
}
.textfield {
    position: absolute;
    height: 50px;
    width: 400px;
    display: none;
    z-index: 99;
}

#textbox{
	font-size: 20pt;
	height: 50px;
  width: 300px;
}

#SaveDrawingTitle {
	margin-bottom: 10px;
}
#savebutton {
	margin-bottom: -12px;
}


.icon 
{  
 	width: 40px;
    height: 40px;
    background-color: #494d4a;
}

.icon:hover{
	width: 40px;
    height: 40px;
    background-color: #1dafd8;
}
.iconActive{
	width: 40px;
    height: 40px;
    background-color: #1dafd8;
}


