@font-face {
  font-family: "Avenir";
  src: url(AvenirLTStd-Book.otf) format("truetype");
}

body {
	color:#4a4c49;
	font-family: 'Avenir';
}

label {
	position: absolute;
	padding-left: 110px;
	padding-top: 10px;
}

li {
	list-style: none;
	color: black;
	padding-left: 20px;
}

li:hover {
	color:#ED8139;
	text-decoration: none;
}

.width-100 {
  width: 100px;
}

.drawingListTitle {
	background-color: white;
	opacity: 0.8;
  height:30px;
  font-size: 20px;
  font-family: 'Avenir';
  padding-left: 20px;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.shapes {
	justify-content: center;
}

.textfield {
  position: absolute;
  height: 50px;
  width: 400px;
  display: none;
  z-index: 99;
}

.icon {
 	width: 40px;
  height: 40px;
  background-color: #494d4a;
}

.icon:hover {
	width: 40px;
  height: 40px;
  background-color: #1dafd8;
}

.iconActive {
	width: 40px;
  height: 40px;
  background-color: #1dafd8;
}

.introjs-helperNumberLayer {
  visibility: hidden !important;
}

.space {
	margin-top: 5px;
}

#canvas {
	display:block;
}

#toolbar {
	background-color:#dedede;
	margin: 0;
	padding: 20px;
	height : 110%;
	margin-right: -25px;
}

#drawingList {
	background-color: white;
	opacity: 0.8;
  height:90px;
  overflow-x:scroll;
}

#textbox {
	font-size: 20pt;
	height: 50px;
  width: 300px;
}

#SaveDrawingTitle {
	margin-bottom: 10px;
}

#savebutton {
	margin-bottom: -12px;
}

#logo {
	width:90%;
	margin-top: -15%;
}

#info-icon {
	width: 40px;
  height: 40px;
  margin-left: 83%;
}
