body
{
	/*margin: 10px;*/
}


.dropdown {
    width: 100px;

}

#toolbar {
	background-color: rgba(102, 102, 102, 0.6);
}
#canvas {
	display:block;
}

#toolbar {
	padding: 10px;
	height : 100%;
}

.textfield {
    position: absolute;
    height: 50px;
    width: 400px;
    display: none;
    z-index: 99;
}

#textbox{
	font-size: 20pt;
	height: 50px;
    width: 300px;
}
